.menuMobile {
  position: absolute;
  display: none;
  top: 54px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: rgba(21, 36, 72, 1);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  transition: visibility 0.3s ease-in-out, opacity 0.3 ease-in-out;

  @media all and (max-width: 640px) {
    display: block;
  }

  &__open {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s ease-in-out, opacity 0.3 ease-in-out;
  }

  &__item {
    text-align: center;

    & a {
      position: relative;
      color: #fff;
      text-decoration: none;
      font-size: 3em;
      padding: 5px 20px;
      display: inline-flex;
      font-weight: 700;
      transition: 0.5s;
    }
  }
}

.burger__menu {
  position: relative;
  display: none;
  background-color: transparent;
  border: none;
  width: 64px;
  height: 30px;
  cursor: pointer;

  @media all and (max-width: 640px) {
    display: inline-block;
  }

  @media all and (max-width: 485px) {
    height: 40px;
  }

  & span {
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 5px;
    background-color: #06caf9;
    transition-duration: 500ms;
    transition: 0.3 cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }

  & span:nth-child(1) {
    top: 0;
    left: 0;
  }

  & span:nth-child(2) {
    top: 13px;
    left: 0;
    opacity: 1;

    @media all and (max-width: 485px) {
      top: 17px;
    }
  }

  & span:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  &.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }
}
