.hero {
  position: relative;
  height: 800px;
  padding-top: 135px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/assets/images/png/hero.png');

  @media all and (max-width: 800px) {
    padding-top: 107px;
    background-image: url('/assets/images/png/hero768.png');
  }

  @media all and (max-width: 485px) {
    height: 477px;
    background-image: none;
  }

  &__description p {
    max-width: 485px;
    line-height: 30px;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #f3f3f3;

    @media all and (max-width: 1080px) {
      font-size: 20px;
      max-width: 395px;
    }

    @media all and (max-width: 800px) {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      max-width: 361px;
    }

    @media all and (max-width: 485px) {
      font-size: 16px;
      line-height: 21px;
    }

    &:nth-child(2) {
      margin-bottom: 84px;

      @media all and (max-width: 1440px) {
        margin-bottom: 79px;
      }

      @media all and (max-width: 1080px) {
        margin-bottom: 71px;
      }

      @media all and (max-width: 800px) {
        margin-bottom: 41px;
      }

      @media all and (max-width: 485px) {
        margin-bottom: 43px;
      }
    }
  }

  &__btn {
    padding: 16px 36px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 22px;
    color: #f2f2f2;
    background: radial-gradient(
      142.65% 2282.99% at 100% -31.65%,
      #00c9fc 0%,
      #1a46ef 56.36%
    );
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transition: all 0.3s;
      background: radial-gradient(
        142.65% 2282.99% at 100% -31.65%,
        #08a6ce 0%,
        #6352b1 43.75%,
        #8b0eb7 68.75%
      );
    }

    @media all and (max-width: 1440px) {
      padding: 25px 49px;
    }

    @media all and (max-width: 1080px) {
      font-size: 20px;
      padding: 24px 50px;
    }

    @media all and (max-width: 800px) {
      font-size: 18px;
      padding: 14px 33px;
    }

    @media all and (max-width: 485px) {
      font-size: 16px;
      padding: 13px 38px;
    }
  }

  &__arrow {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 66px;
    background-image: url('/assets/images/svg/arrow-btn.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;

    @media all and (max-width: 1080px) {
      bottom: 66px;
    }

    @media all and (max-width: 800px) {
      display: none;
    }
  }
}
