.social {
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media all and (max-width: 1080px) {
      display: flex;
      align-items: center;
    }

    @media all and (max-width: 485px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 23px;

      @media all and (max-width: 1080px) {
        margin-right: 32px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      font-family: 'Lato';
      font-weight: 600;
      font-size: 20px;
      text-decoration-line: underline;
      text-underline-offset: 5px;
      color: #0caed5;

      @media all and (max-width: 1080px) {
        font-size: 18px;
        line-height: 23px;
      }

      @media all and (max-width: 485px) {
        margin-bottom: 16px;
      }

      &:hover &__icon__tg {
        background-color: #6682c1;
        transition: background-color 0.3s ease-in-out;
      }
      &:hover &__icon__in {
        background-color: #7294c7;
        transition: background-color 0.3s ease-in-out;
      }
      &:hover &__icon__git {
        background-color: #6682c1;
        transition: background-color 0.3s ease-in-out;
      }
      &:hover {
        background: radial-gradient(
          142.65% 2282.99% at 100% -31.65%,
          #08a6ce 0%,
          #6352b1 43.75%,
          #8b0eb7 68.75%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        transition: all 0.3s ease-in-out;
      }

      &__icon {
        position: relative;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.5);
        width: 40px;
        height: 40px;
        transition: background-color 0.3 ease-in-out;

        & img {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }

      &__icon__tg img {
        top: 3px;
        left: 2px;
      }

      &__icon__in img {
        top: 3px;
        left: 3px;
      }

      &__icon__git img {
        top: 0px;
        left: 1px;
      }

      &__text {
        margin-right: 24px;

        @media all and (max-width: 1080px) {
          margin-right: 16px;
        }

        @media all and (max-width: 800px) {
          margin-right: 7px;
        }
      }
    }
  }
}
