.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 28px 0 21px;
  z-index: 10;
  background: rgba(21, 36, 72, 1);
  backdrop-filter: blur(125px);

  @media all and (max-width: 1080px) {
    padding: 25px 0 21px;
  }

  @media all and (max-width: 800px) {
    padding: 27px 0;
  }

  @media all and (max-width: 485px) {
    padding: 20px 0;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    width: 71%;

    @media all and (max-width: 1440px) {
      width: 70%;
    }

    @media all and (max-width: 1080px) {
      width: 75.4%;
    }

    @media all and (max-width: 800px) {
      width: 82.3%;
    }

    @media all and (max-width: 640px) {
      display: none;
    }

    &__list {
      display: flex;
      align-items: center;
      column-gap: 48px;

      @media all and (max-width: 1080px) {
        column-gap: 40px;
      }

      @media all and (max-width: 800px) {
        column-gap: 32px;
      }

      &__item {
        transition: opacity 0.3s ease-in-out;

        &__link {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 128.9%;
          color: #f2f2f2;

          @media all and (max-width: 1080px) {
            font-size: 18px;
          }
        }
      }

      &:hover &__item:not(:hover) {
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
